ProxyChatService/ProxyChat.Accounts/bin/
ProxyChatService/ProxyChatService/bin/
ProxyChatService/ProxyChatService/obj/
ProxyChatService/ProxyChat.Accounts/obj/
ProxyChatService/ProxyChat.Domain/bin/
ProxyChatService/ProxyChat.Domain/obj/
ProxyChatService/ProxyChat.Devices/obj/
ProxiChat.Ios/ProxiChat.Ios/bin
ProxiChat.Ios/ProxiChat.Ios/obj
ProxiChat.Mobile/ProxiChat.Mobile/obj/
ProxiChat.Mobile/ProxiChat.Mobile.Services/obj/
ProxiChat.Mobile/ProxiChat.Mobile.Services/bin
