ProxyChatService/ProxyChat.Accounts/bin/
ProxyChatService/ProxyChatService/bin/
ProxyChatService/ProxyChatService/obj/
ProxyChatService/ProxyChat.Accounts/obj/
ProxyChatService/ProxyChat.Domain/bin/
ProxyChatService/ProxyChat.Domain/obj/
