
@{
    ViewBag.Title = "CreateAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/CreateAccount.css">


<div >
    <div id="inner-container">
        <h4>Create a new account.</h4>
        <div class="form-group">
            <div class="col-md-10">
                <div class="field-label">
                    <span>User Name:</span>
                </div>
                <input type="text" id="user-name-input-box" />
            </div>
            <div class="col-md-10">
                <div class="field-label">
                    <span>First Name:</span>
                </div>
                <input type="text" id="first-name-input-box" />
            </div>
            <div class="col-md-10">
                <div class="field-label">
                    <span>Last Name:</span>
                </div>
                <input type="text" id="last-name-input-box" />
            </div>
            <div class="col-md-10">
                <div class="field-label">
                    <span>Email:</span>
                </div>
                <input type="text" placeholder="Hello@world.com" id="email-input-box" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div class="field-label">
                    <span>Password:</span>
                </div>
                <input type="password" placeholder="Not Password!" id="password-input-box" />
                <span id="password-rules" style="display:inline;"> 5+ Characters, 1 Capital letter</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div class="field-label">
                    <span>Confirm Password:</span>
                </div>
                <input type="password" id="password-confirm-input-box" />
            </div>
        </div>
        <div id="error-container"></div>
        <div class="loader"></div>
        <div class="spacer-2" style="height:2em;"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*submit() implemented in parent view CreateAccount.cshtml.  This is so a new partial can be loaded in*@
                <input onclick="submit()" id="submit-button" type="button" value="Let's Go!" style="width:10em;" />
            </div>
        </div>
        <div class="spacer-2" style="height:2em;"></div>
        <div id="forgot-password">
            <a href='@Url.Action("ForgotPassword", "ForgotPassword")'>Forgot my password &#128561</a>
        </div>
        <div class="spacer-2" style="height:2em;"></div>
    </div>
</div>


<script>
    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    function dataIsValid(email, password)
    {
        var validData = true;
        var errorString = "<span><br>";

        if (validateEmail(email) == false)
        {
            validData = false;
            errorString += '&#8226 Invalid Email<br>';
        }
        if (password != $('#password-confirm-input-box').val())
        {
            validData = false;
            errorString += '&#8226 Passwords don\'t match<br>';
        }
        if (password.length < 5)
        {
            validData = false;
            errorString += '&#8226 Password not long enough<br>';
        }
        if (/[A-Z]/.test(password) == false)
        {
            validData = false;
            errorString += '&#8226 Password must have a capital letter';
        }

        if (validData == false)
        {
            $('#error-container').html(errorString + '</span>');
        }
        else
        {
            $('#error-container').html("");
        }

        return validData;
    }

    function submit() {
        var email = $('#email-input-box').val();
        var password = $('#password-input-box').val();
        var firstName = $('#first-name-input-box').val();
        var lastName = $('#last-name-input-box').val();
        var userName = $('#user-name-input-box').val();
        var url = '@Url.Action("CreateNewAccount", "CreateAccount")';
        var data = { model: { Email: email, Password: password, FirstName: firstName, LastName: lastName, UserName: userName } };

        if (dataIsValid(email, password) == true)
        {
            $('.loader').css('display', 'block');

            $.ajax({
                url: url,
                type: 'POST',
                accept: 'json',
                contentType: 'application/json',
                data: JSON.stringify(data),
                error: function (error) {
                    $('.loader').css('display', 'none');
                    $('#error-container').html("<span>an error occurred while creating your account</span>");
                },
                success: function (data) {

                    @*
                        data structure defined server side

                        data.Success - create user success
                        data.Message - error message if error occured, empty otherwise
                        data.Value - User object to pass to next page
                        *@
                    if (data.Success == true)
                    {
                        $.ajax({
                            url: '@Url.Action("AccountCreated", "CreateAccount")',
                            type: 'POST',
                            accept: 'html',
                            contentType: 'application/json',
                            data: JSON.stringify(data.Value),
                            error: function (error) {
                                $('.loader').css('display', 'none');
                                console.log("inner error");
                            },
                            success: function (html) {
                                $('.loader').css('display', 'none');
                                $('#inner-container').html(html);
                            }
                        });
                    }
                    else {
                        $('.loader').css('display', 'none');
                        console.log(data);
                        $('#error-container').html("<span>" + data.Message + "</span>");
                    }
                }
            });
        }
    }
</script>