
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .center-text{
        text-align:center;
    }
</style>

<link rel="stylesheet" type="text/css" href="~/Content/CreateAccount.css">

<div class="col-md-10">
    <div style="width:10%; display:inline;">
        <span>Email:</span>
    </div>
    <input type="text" placeholder="Hello@world.com" id="email-input-box" />
</div>
<div class="spacer-2"></div>

<div class="loader"></div>
<div id="error-container" class="center-text"></div>
<div id="message-container" class="center-text"></div>

<div class="spacer-2"></div>

<div class="col-md-offset-2 col-md-10">
    <input onclick="submit()" id="submit-button" type="button" value="Reset" style="width:10em;" />
</div>

<script>
   
    
    function submit() {
        
        $('.loader').css("display", "block");
        $('#error-container').html("");
        $('#message-container').html("");

        console.log('@Url.Action("SendForgotPasswordEmail", "ForgotPassword")' + '?email=' + $('#email-input-box').val());
        $.ajax({
            beforeSend: function () {
                $('#submit-button').prop("disabled", true)
            },
            complete: function () {
                $('#submit-button').prop("disabled", false)
                $('.loader').css("display", "none");
            },
            url: '@Url.Action("SendForgotPasswordEmail", "ForgotPassword")' + '?email=' + $('#email-input-box').val(),
            type: 'POST',
            accept: 'json',
            error: function (error) {
                console.log(error);
                $('#error-container').html("<span>an error occurred processing your request</span>");
            },
            success: function (html) {

                if (html.Success == true) {
                    $('#message-container').html("<span>Email sent</span>");
                }
                else {
                    console.log(html.Message);
                    $('#error-container').html("<span>" + html.Message + "</span>");
                }
            }
        });
    }
</script>